@page "/productos"
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@if (!error)
{
    @if (productos == null)
    {
        <div class="d-flex align-items-center mt-3">
            <h2 class="me-3">Productos</h2>
            <img class="pb-2" style="width:35px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
        </div>
    }
    else
    {
        <div class="d-flex align-items-center justify-content-between mt-3">
            <h2>Productos</h2>
            
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary btn-lg" href="producto">
                Agregar
            </a>
            <a class="btn btn-secondary btn-lg" @onclick="OnInitializedAsync">
                Recargar
            </a>
        </div>
        

        @if (productos.Count() == 0)
        {
            <div class="alert alert-primary fw-bold mt-3" role="alert">
                No hay propiedades registradas
            </div>
        }
        else
        {
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in productos)
                    {
                        <tr>
                            <td style="vertical-align: middle;">@producto.Codigo</td>
                            <td style="vertical-align: middle;">@producto.Descripcion</td>
                            <td style="vertical-align: middle;">@producto.Precio</td>
                            <td class="d-flex justify-content-end">
                                <a class="btn btn-primary btn-sm" href="producto/@producto.Id">
                                    Modificar
                                </a>

                                <button class="btn btn-danger btn-sm ms-2" @onclick="(() => EliminarProducto(producto.Id))">
                                    Eliminar
                </button>@*
                                <button class="btn btn-danger btn-sm ms-2" @onclick="async () => await ProductoApiClient.DeleteAsync(propiedad.Id)">
                                    Eliminar
                </button>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
else
{
    <h2 class="mt-3">Propiedades</h2>
    <div class="alert alert-danger fw-bold my-3" role="alert">
        Error al conectarse a la base de datos!
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" @onclick="OnInitializedAsync">Reintentar</button>
    </div>
}


@code {
    IEnumerable<Producto> productos;
    bool error;

    protected override async Task OnInitializedAsync()
    {
        productos = null;
        error = false;
        try
        {
            productos = await ProductoApiClient.GetAllAsync();

        }
        catch (Exception)
        {
            error = true;
        }
    }


    private async void EliminarProducto(int id)
    {
        var confirm = await JSRuntime.InvokeAsync<bool>("confirm", $"¿Estás seguro de que deseas eliminar?");
        if (confirm)
        {
            await ProductoApiClient.DeleteAsync(id);
        }
    }
}